@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "var";
@import "header";
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-transform: capitalize;
  
}
.logo {
    color: $black;
    font-size: 1.5rem;
    font-weight: bolder;

    i {
        color: $green;
    }
}
a{
    text-decoration: none;
    color: black;
}
.signup{
    padding: 120px 16%;
    display: flex;
    height: 100vh;
}
.form-box{
    padding: 50px 8% 0;
    background-color: rgba($color: #Dcd0ff, $alpha: 0.7);
    height: 98.9%;
    width: 45%;
}
.form-box h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 26px;
}
.form{
    font-size: large;
    padding: 10% 6%;
    text-align: center;
    border: black 1px solid;
    background-color: white;
}
input{
    background: transparent;
    padding: 10px;
    border-bottom: black 1px solid;
}
input::placeholder{
    text-align: center;
}

.btn{
    border: $black 1px solid;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 10px;
    color: $black;
    background-color: $white;
    &:hover {
        padding: 10px;
    }
}
.create{
    font-size: 9px;
    color: #cbcbcb;
}
