.category-pick{
    border: black 1px solid;
    max-width: fit-content;
    .image{
        margin: 5px;
        img{
            width: 150px;
            height: 100px;

        }
    }
    .category{
        border: black 1px solid;
        text-align: center;
    }
}
.menu-description{
    display: flex;
    flex-direction: column;
    padding: 35px 80px ;
    .menu-details{
        max-width: 90%;
        justify-content: center;
        text-align: center;

    }
    .d-grid{
        grid-template-columns: repeat(2,2fr);
        gap: 10px;
    }
}