{%load static%}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Fork & Knife Restaurant</title>
  <!-- bootstrap cdn link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!-- fontawesome cdn link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <!-- swiper cdn link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
  <!-- custom css -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>
  <!-- header section -->
  <header>
    {% if user.is_authenticated %}
    <a href="{% url 'homePage' %}" class="logo"><i class="fa-solid fa-utensils"></i>TF&K.</a>

    {%else%}
    <a href="{% url 'indexPage' %}" class="logo"><i class="fa-solid fa-utensils"></i>TF&K.</a>
    {%endif%}

    <nav class="navbar">
      {% if user.is_authenticated %}
      <a href="{% url 'homePage' %}" class="active">home</a>

      {%else%}
      <a href="{% url 'indexPage' %}" class="active">home</a>
      {%endif%}
      <a href="{% url 'menuPage' %}">menu</a>
      <a href="{% url 'aboutPage' %}">about</a>

      {% if user.is_authenticated %}
      <a href="{% url 'profilePage' %}">profile</a>
      {%endif%}
      
    </nav>

    <div class="icons">
      <i class="fa-solid fa-bars" id="menu-bars"></i>
      <!-- <a href="signin.html"><i class="fa-solid fa-user" id="sign-in"></i></a>
      <a href="joinnow.html"><i class="fa-solid fa-user-group" id="join-now"></i></a> -->

    </div>
  </header>
  <!-- header section  end-->
  <div class="subko-heading"><h3>About us</h3> </div>
  <section class="about-us">
    <div class="Companydetails">
        <div class="About-img">
            <img src="{% static 'images/nt.png' %}" alt="logo">
        </div>
        <div class="Detail">
            <p>
              The Fork & Knife is not just a restaurant, it's an experience. With a passion for culinary excellence and a commitment to sustainability, this establishment has set its sights on becoming the go-to destination for foodies and conscious consumers alike. The Fork and Knife is a hidden gem of a restaurant that's quickly making a name for itself in the culinary world. With a menu that's both innovative and classic, this establishment has something to offer for every type of palate.
            </p>
        </div>
    </div>
    <div class="Companydetails">
        <div class="Detail">
            <p>
              One of the standout features of The Fork & Knife is their commitment to using only the freshest, locally sourced ingredients in their dishes. From farm-to-table vegetables to sustainably raised meats, each ingredient is carefully selected to ensure that every dish is bursting with flavor and nutrition.
            </p>
        </div>
        <div class="About-img">
            <img src="{% static 'images/abtt.jpg' %}" alt="logo">
        </div>
    </div>
    <div class="Companydetails">
        <div class="Detail">
            <p>
              The restaurant's menu is a testament to its ambition, featuring a diverse array of dishes that are as visually stunning as they are delicious. Each dish is crafted with care and precision, using only the freshest, locally sourced ingredients to create flavors that are both bold and nuanced.
            </p>
        </div>
        <div class="About-img">
            <img src="{% static 'images/abt.jpg' %}" alt="logo">
        </div>
    </div>
  </section>

  </footer>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.1.0/swiper-bundle.min.js" integrity="sha512-sR63/L3Slqn0OWMMafv7gmRGxkYJOcfgdN3jznwea9NYiett6R+cGdZ0t0TRHeH1gZogMyLE1oQpQ0Lc6ULKbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="{%static 'js/main.js' %}"></script>
</body>

</html>