<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
	<style>
		body{
			background-color: black;
			color: white;
		}
		table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #978d8d;
    }
	</style>
</head>
<body>
	<h1> My Cart</h1>

	{% if context %}


	<table>
			<thead>
				<tr>
					<th>Product</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total Cost</th>
				</tr>
			</thead>
			<tbody>
				{% for items in context %}
					<tr>
						<td>{{ items.item.name }}</td>
						<td>{{ items.quantity }}</td>
						<form method="post" action="{% url 'updateCart' id=items.id %}">
							{% csrf_token %}
							<p>{{ items.item.name}}</p>
							<input type="number" name="quantity" value="{{ items.quantity }}">
							<button type="submit">Update</button>
						  </form>
						  <form method="POST" action="{% url 'deleteCart' id=items.id %}">
							{% csrf_token %}
							<button type="submit">Delete</button>
						</form>
						<td>{{ items.item.price }}</td>
						<td>{{ items.get_total }}</td>
						
						
						
						
						
					</tr>
				{% endfor %}
				<tr style="background-color: #978d8d;">
					<td colspan="3"><strong>Total:</strong></td>
					<td>{{ total }}</td>
				</tr>
			</tbody>
		</table> <br>

		<form action="/place-order/" method="POST" >
			{% csrf_token %}
			<input type="text" placeholder="Delivery Address" name="address"> <br>
			<input type="number" placeholder="Contact Number" name="contact">
			<button type="submit">Place Order</button>
		</form>
	
		{% else %}
    <p>Your cart is empty.</p>
  {% endif %}
	
	
	
</body>
</html>
